{% extends 'base.html' %}

{% block content %}

<h1>About page</h1>
<p><strong>Strona ta</strong> powstaje od października 2018r. Jej celem jest przybliżenie podstawowych informacji mieszczących się w szerokim zakresię wiedzy dotyczącej<strong> Interfejsów mózg-komputer</strong> (<em>ang. Brain-computer interface</em>, czyli, <strong>BCI</strong>). Interfejsy takie pozwalają na bezpośrednią komunikację między mózgiem a odpowiednim urządzeniem zewnętrznym. Jest to instrument szczególnie przydatny w momencie gdy mowa o osobach sparaliżowanych, bądź z innych powodów pozbawionych korzystania z tradycyjnych interface-ów takich jak klawiatura czy joystick. W tym celu wykorzystywane są zarówno metody inwazyjne takie np. instalowanie implantów, jak i metody nieinwazyjne wykorzystujące do komunikacji np. fale mózgowe.</p>
{% endblock content %}
